@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#user-interface {
  min-width: 300px;
}

.question-element {
  display: grid;
  grid-template-rows: 7rem 14rem 7rem;
  grid-gap: 20px;
  align-items: center;
}

.question-element h1 {
  font-size: 20px;
  align-self: center;
}

#answers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
}

#next-question-button, #finish_quiz_button {
  justify-self: center;
  align-self: flex-end;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Alegreya sans", sans-serif;
  background-color: #657a86;
  color: #fff;
  border: none;
  border-radius: 4px;  
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #ff9204;
}

.option {
  background-color: #803e96;  
}

#finish_quiz_button {
  background: linear-gradient(to top, #ff0000, #ff9999, #ff0000);
  color: black;
  font-weight: bolder;
}

#restart-button {
  background-color: #008000;
}

.correct-answer {
  background-color: #50C878;
  color: black;
  font-weight: bolder;
}

.wrong-answer {
  background-color: #fa2832;
}

@media (max-width: 44rem) {
  #answers-list  {
    grid-template-columns: 1fr;
  }
}

#progress-container{
  margin: 10px;
  border: 2px solid black;
  
}
#progress-bar {
  background-color: green;
  height: 20px;
  width: 0;
  transition:all 0.5s;
  color: black;
}
